<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to ASCII Art Converter</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Image => ASCII</h1>
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" id="image-input" name="image" accept="image/*" required>
            <button type="submit">Upload and Convert</button>
        </form>
        <pre id="ascii-output"> :) </pre>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
